<div class="sert">
  <div class="container">
    <div class="sert__inner">
      <h2 class="sert__title title">Сертификаты</h2>

      <div class="sert__head">
        <div class="sert__sub">Подтвержденное качество продукции</div>

        <div class="sert__btns">
          <div class="sert__prev">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="6"
              height="9"
              viewBox="0 0 6 9"
              fill="none"
            >
              <path
                d="M4.3335 7.66667L1.00016 4.33333L4.3335 1"
                stroke="#26428B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="sert__next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="6"
              height="9"
              viewBox="0 0 6 9"
              fill="none"
            >
              <path
                d="M1 0.999837L4.33333 4.33317L1 7.6665"
                stroke="#26428B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="sert__container swiper">
        <div class="sert__items swiper-wrapper">
          <div class="sert__item swiper-slide">
            <a href="images/s1.png" data-fancybox="gallery" class="sert__img">
              <img src="images/s1.png" alt="" />
            </a>
            <span class="sert__text">Партнерский сертификат</span>
          </div>
           <div class="sert__item swiper-slide">
            <a href="images/s2.png" data-fancybox="gallery" class="sert__img">
              <img src="images/s2.png" alt="" />
            </a>
            <span class="sert__text">Сертификат официального диллера</span>
          </div>
           <div class="sert__item swiper-slide">
            <a href="images/s3.png" data-fancybox="gallery" class="sert__img">
              <img src="images/s3.png" alt="" />
            </a>
            <span class="sert__text">Сертификат официального дилера, партнера и системного интегратора</span>
          </div>
           <div class="sert__item swiper-slide">
            <a href="images/s4.png" data-fancybox="gallery" class="sert__img">
              <img src="images/s4.png" alt="" />
            </a>
            <span class="sert__text">Партнерский сертификат</span>
          </div>
           <div class="sert__item swiper-slide">
            <a href="images/s5.png" data-fancybox="gallery" class="sert__img">
              <img src="images/s5.png" alt="" />
            </a>
            <span class="sert__text">Сертификат официального диллера</span>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
