<div class="header__menu menu">
  <div class="menu__wrapper">
    <ul class="menu__list">
      <li class="menu__item"><a href="#">О компании</a></li>

      <li class="menu__item dropdown">
        <div class="menu__item--it">
          <a href="#">Направления деятельности</a>
          <span class="menu__mobile--back">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M16 10L12 14L8 10"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </div>
        <ul class="menu__sub-list">
          <li class="menu__item">
            <a href="#">Конвейерное оборудование</a>
          </li>
          <li class="menu__item"><a href="#">Групповая упаковка</a></li>
          <li class="menu__item">
            <a href="#">Автоматическая сборка гофротары</a>
          </li>
          <li class="menu__item"><a href="#">Упаковка паллет</a></li>
          <li class="menu__item">
            <a href="#">Маркировочное оборудование</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <div class="menu__item--it">
          <a href="#">Поставщики</a>
        </div>
      </li>
      <li class="menu__item"><a href="#">Объекты</a></li>

      <li class="menu__item"><a href="#">Контакты</a></li>
    </ul>
  </div>
</div>
