<div class="showcase">

  <div class="showcase__swiper swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="showcase__img">
          <img src="images/showcase-bg.png" alt="" />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="showcase__img">
          <img src="images/showcase-bg.png" alt="" />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="showcase__img">
          <img src="images/showcase-bg.png" alt="" />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="showcase__img">
          <img src="images/showcase-bg.png" alt="" />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="showcase__img">
          <img src="images/showcase-bg.png" alt="" />
        </div>
      </div>
    </div>

  <div class="swiper-pagination"></div>

  </div>

  <!-- ТЕКСТ (НЕ SWIPER) -->
  <div class="container">
    <div class="showcase__inner">
      <div class="showcase__text-item active">
        <h1 class="showcase__title">
          <span>Инженерные решения</span> для заказчиков, проектировщиков,
          монтажников
        </h1>

        <div class="showcase__text">
          Надежный поставщик автоматики, электрики, светотехники, кабеленесущих
          систем, слаботочного оборудования, вентиляционного и холодильного
          оборудования. Подбираем решения под задачи объекта и сопровождаем
          проекты любой сложности.
        </div>

        <a href="#" class="showcase__btn btn btn-yellow">Подробнее</a>
      </div>

      <div class="showcase__text-item">
        <h1 class="showcase__title">Заголовок 2</h1>
        <div class="showcase__text">Текст 2</div>
        <a href="#" class="showcase__btn btn btn-yellow">Подробнее</a>
      </div>

      <div class="showcase__text-item">
        <h1 class="showcase__title">Заголовок 3</h1>
        <div class="showcase__text">Текст 3</div>
        <a href="#" class="showcase__btn btn btn-yellow">Подробнее</a>
      </div>

      <div class="showcase__text-item">
        <h1 class="showcase__title">Заголовок 4</h1>
        <div class="showcase__text">Текст 4</div>
        <a href="#" class="showcase__btn btn btn-yellow">Подробнее</a>
      </div>

      <div class="showcase__text-item">
        <h1 class="showcase__title">Заголовок 5</h1>
        <div class="showcase__text">Текст 5</div>
        <a href="#" class="showcase__btn btn btn-yellow">Подробнее</a>
      </div>
    </div>
  </div>

</div>
