<div class="work">
  <div class="container">
    <div class="work__inner">
      <h2 class="work__title title">Направления деятельности</h2>

      <div class="work__sub">Ключевые направления работы</div>

      <div class="work__container swiper">
        <div class="work__items swiper-wrapper">
          <div class="work__item swiper-slide">
            <div class="work__img">
              <img src="images/w1.png" alt="" />
            </div>

            <div class="work__info">
              <div class="work__head">
                <span>Вентиляция и климатическое оборудование</span>
              </div>

              <div class="work__text">
                Подбираем и поставляем оборудование для систем вентиляции,
                кондиционирования и воздухообмена с учетом назначения объекта,
                проектных требований и условий эксплуатации.
              </div>

              <a href="#" class="work__link"> Подробнее </a>
            </div>
          </div>
          <div class="work__item swiper-slide">
            <div class="work__img">
              <img src="images/w2.png" alt="" />
            </div>

            <div class="work__info">
              <div class="work__head">
                <span>Освещение и светотехнические решения</span>
              </div>

              <div class="work__text">
                Предлагаем светотехническое оборудование для общественных,
                коммерческих, промышленных и исторических объектов — от
                функционального освещения до архитектурной подсветки.
              </div>

              <a href="#" class="work__link"> Подробнее </a>
            </div>
          </div>
          <div class="work__item swiper-slide">
            <div class="work__img">
              <img src="images/w3.png" alt="" />
            </div>

            <div class="work__info">
              <div class="work__head">
                <span>Теплоснабжение и насосное оборудование</span>
              </div>

              <div class="work__text">
                Подбираем и поставляем оборудование для систем отопления,
                теплоснабжения и водоснабжения: насосы, насосные группы,
                теплообменное оборудование и комплектующие для стабильной работы
                инженерных систем.
              </div>

              <a href="#" class="work__link"> Подробнее </a>
            </div>
          </div>
          <div class="work__item swiper-slide">
            <div class="work__img">
              <img src="images/w4.png" alt="" />
            </div>

            <div class="work__info">
              <div class="work__head">
                <span>Слаботочное оборудование</span>
              </div>

              <div class="work__text">
                Поставляем решения для связи, автоматизации, диспетчеризации,
                безопасности и управления инженерными системами объекта.
              </div>

              <a href="#" class="work__link"> Подробнее </a>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
