<div class="line">
  <div class="container">
    <div class="line__inner">
      <div class="line__container swiper">
        <div class="line__items swiper-wrapper">
          <div class="line__item swiper-slide">
            <div class="line__head">
              <span>Многолетний опыт работы</span>
              <p>(01)</p>
            </div>

            <div class="line__desc">
              Быстро определяем потребности клиентов и предлагаем эффективные
              решения для разных задач
            </div>
          </div>
          <div class="line__item swiper-slide">
            <div class="line__head">
              <span>Надежные производители</span>
              <p>(02)</p>
            </div>

            <div class="line__desc">
              Сотрудничаем с ведущими поставщиками оборудования и гарантируем
              качество поставляемой продукции
            </div>
          </div>
          <div class="line__item swiper-slide">
            <div class="line__head">
              <span>Гибкий подход</span>
              <p>(03)</p>
            </div>

            <div class="line__desc">
              Подбираем оптимальное соотношение цены и качества с учетом
              требований каждого заказчика
            </div>
          </div>
          <div class="line__item swiper-slide">
            <div class="line__head">
              <span>Экспертное сопровождение</span>
              <p>(04)</p>
            </div>

            <div class="line__desc">
              Консультируем на всех этапах: от подбора оборудования и поставки
              до монтажа и технической поддержки
            </div>
          </div>
        </div>


        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
