<div class="feedback">
  <div class="container">
    <div class="feedback__inner">
      <div class="feedback__left">
        <h2 class="feedback__title title">Обратная связь</h2>
        <div class="feedback__sub">Обсудим ваш проект</div>
        <div class="feedback__text">
          Оставьте заявку, и специалисты «ТД Петербург» свяжутся с вами, помогут
          подобрать оборудование и ответят на вопросы по поставке, технической
          поддержке и реализации проекта.
        </div>
      </div>

      <div class="feedback__form">
        <form action="#">
          <label class="field">
            <input type="text" placeholder="Имя" />
          </label>

          <label class="field">
            <input type="text" placeholder="Номер телефона" class="mask" />
          </label>
          <label class="field">
            <input type="text" placeholder="Email" />
          </label>
          <label class="field">
            <textarea placeholder="Комментарий"></textarea>
          </label>
          <label class="checkbox">
            <span class="checkbox__inner">
              <input type="checkbox" />
              <span></span>
            </span>
            <span class="checkbox__text"
              >Я даю свое согласие на обработку персональных данных, в
              соответствии с ФЗ от 27.07.2006 года №152-ФЗ «О персональных
              данных», на условиях и для целей, определенных в Согласии на
              обработку персональных данных
            </span>
          </label>

          <button class="feedback__btn btn btn-yellow">Оставить заявку</button>
        </form>
      </div>
    </div>
  </div>
</div>
