<div class="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__top">
        <div class="about__info">
          <h2 class="about__title title">О компании</h2>

          <div class="about__sub">
            «ТД Петербург» — надежный партнер в реализации инженерных проектов
          </div>

          <div class="about__desc">
            Наша компания компания специализируется на продвижении инженерного
            оборудования в проекты нового строительства и реставрации объектов
            культурного наследия.
            <br />
            <br />
            Мы предоставляем полный цикл услуг по подбору, поставке и монтажу
            оборудования, необходимого для успешной реализации проектов любой
            сложности.
          </div>

          <a href="#" class="about__btn btn btn-blue">Подробнее</a>
        </div>

        <div class="about__img">
          <img src="images/ab-img.png" alt="" />
        </div>
      </div>

      <div class="about__container swiper">
        <div class="about__items swiper-wrapper">
          <div class="about__item swiper-slide">
            <p>5 лет</p>
            <span>На рынке инженерных систем</span>
          </div>
          <div class="about__item swiper-slide">
            <p>50+</p>
            <span>Электротехнических брендов</span>
          </div>
          <div class="about__item swiper-slide">
            <p>200 000 +</p>
            <span>Товарных позиций</span>
          </div>
          <div class="about__item swiper-slide">
            <p>30 +</p>
            <span>Известных партнеров</span>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
