<div class="rel">
  <div class="container">
    <div class="rel__inner">
      <h2 class="rel__title title">Проекты</h2>

      <div class="rel__head">
        <div class="rel__sub">Реализованные решения</div>

        <div class="rel__btns">
          <div class="rel__prev">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="6"
              height="9"
              viewBox="0 0 6 9"
              fill="none"
            >
              <path
                d="M4.3335 7.66667L1.00016 4.33333L4.3335 1"
                stroke="#26428B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="rel__next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="6"
              height="9"
              viewBox="0 0 6 9"
              fill="none"
            >
              <path
                d="M1 0.999837L4.33333 4.33317L1 7.6665"
                stroke="#26428B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="rel__container swiper">
        <div class="rel__items swiper-wrapper">
          <div class="rel__item swiper-slide">
            <div class="work__img">
              <img src="images/r1.png" alt="" />
            </div>

            <div class="rel__info">
              <div class="work__head">
                <span>Михайловский (Инженерный) замок</span>
              </div>

              <div class="rel__desc">
                <div class="rel__desc--text">
                  <p>Адрес</p>
                  <span>Санкт-Петербург, ул. Садовая, д. 2</span>
                </div>
                <div class="rel__desc--text">
                  <p>Описание работ</p>
                  <span
                    >Инженерная поддержка и проектирование разделов АОВ, ЭОМ
                    и слаботочных систем</span
                  >
                </div>
              </div>
              <a href="#" class="work__link"> Подробнее </a>
            </div>
          </div>
          <div class="rel__item swiper-slide">
            <div class="work__img">
              <img src="images/r2.png" alt="" />
            </div>

            <div class="rel__info">
              <div class="work__head">
                <span>Музей заповедник Выборгский Замок</span>
              </div>

              <div class="rel__desc">
                <div class="rel__desc--text">
                  <p>Адрес</p>
                  <span>г. Выборг, остров Замковый, д.1</span>
                </div>
                <div class="rel__desc--text">
                  <p>Описание работ</p>
                  <span
                    >Полный цикл услуг по подбору и поставке инженерных решений
                    для реконструкции объекта</span
                  >
                </div>
              </div>
              <a href="#" class="work__link"> Подробнее </a>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
