<div class="brand">
  <div class="container">
    <div class="brand__inner">
      <div class="brand__info">
        <div class="brand__top">
          <h2 class="brand__title title">Поставщики</h2>
          <div class="brand__sub">Надежные бренды</div>
        </div>
        <div class="brand__head">
          <div class="brand__text">
            Мы сотрудничаем с проверенными российскими и зарубежными брендами
            инженерного оборудования. Это позволяет подбирать надежные решения
            для вентиляции, освещения, теплоснабжения, насосного и слаботочного
            оборудования с учетом требований проекта, сроков поставки и
            особенностей объекта.
          </div>
          <a href="#" class="brand__btn btn btn-yellow">Все бренды</a>
        </div>
      </div>
    </div>
  </div>

  <div class="brand__track">
    <div class="brand__list">
      <div class="brand__item"><img src="images/1.svg" alt="" /></div>
      <div class="brand__item"><img src="images/2.svg" alt="" /></div>
      <div class="brand__item"><img src="images/3.svg" alt="" /></div>
      <div class="brand__item"><img src="images/4.svg" alt="" /></div>
      <div class="brand__item"><img src="images/5.svg" alt="" /></div>
      <div class="brand__item"><img src="images/6.svg" alt="" /></div>
    </div>

    <div class="brand__list">
      <div class="brand__item"><img src="images/1.svg" alt="" /></div>
      <div class="brand__item"><img src="images/2.svg" alt="" /></div>
      <div class="brand__item"><img src="images/3.svg" alt="" /></div>
      <div class="brand__item"><img src="images/4.svg" alt="" /></div>
      <div class="brand__item"><img src="images/5.svg" alt="" /></div>
      <div class="brand__item"><img src="images/6.svg" alt="" /></div>
    </div>
  </div>
</div>
